@page
@model PortalKulinarny.Pages.Recipes.EditModel
@using PortalKulinarny.Models;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.RecipeId" />
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <input asp-for="Recipe.Description" class="form-control" />
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            @{
                if (Model.Recipe != null && Model.Recipe.CategoryRecipes != null)
                {
                    foreach (var item in Model.Recipe.CategoryRecipes)
                    {
                        <p>
                            @item.Category.Name

                            <button class="btn-icon red" type="submit" asp-page-handler="Delete" asp-route-id="@item.CategoryId">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </p>
                    }
                }

            }
            @{
                var SelectList = new SelectList(await Model._categoryService.GetAsync(), "Id", "Name");
            }
            <select asp-for="CategoryId" asp-items="@SelectList">
            </select>
            <button class="btn btn-primary" asp-page-handler="AddCategory">Dodaj kategorię</button>
            <div class="form-group">
                <input type="submit" asp-page-handler="" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
