@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetowanie hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hasło zostało zresetowane. <a asp-page="./Login">Kliknij aby się zalogować.</a>.
</p>
